<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="CPPUnitErrorParser"
         name="CPPUnit Error Parser"
         point="org.eclipse.cdt.core.ErrorParser">
		<errorparser
            class="be.el_tramo.ecppunit.CPPUnitErrorParser">
      </errorparser>
   </extension>

</plugin>
